# Importando as Bibliotecas

In [28]:
import pandas as pd

# Criando o Dataframe

In [29]:
dados = pd.read_csv('listings.csv')

In [30]:
dados.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2818,Quiet Garden View Room & Super Fast WiFi,3159,Daniel,NaN,Oostelijk Havengebied - Indische Buurt,52.36435,4.94358,Private room,59,3,285,2021-11-21,1.83,1,51,7,0363 5F3A 5684 6750 D14D
1,20168,Studio with private bathroom in the centre 1,59484,Alexander,NaN,Centrum-Oost,52.36407,4.89393,Private room,106,1,339,2020-04-09,2.35,2,0,0,0363 CBB3 2C10 0C2A 1E29
2,27886,"Romantic, stylish B&B houseboat in canal district",97647,Flip,NaN,Centrum-West,52.38761,4.89188,Private room,135,2,227,2021-12-06,1.87,1,0,8,0363 974D 4986 7411 88D8
3,28871,Comfortable double room,124245,Edwin,NaN,Centrum-West,52.36775,4.89092,Private room,75,2,372,2021-12-12,2.69,2,206,36,0363 607B EA74 0BD8 2F6F
4,29051,Comfortable single room,124245,Edwin,NaN,Centrum-Oost,52.36584,4.89111,Private room,55,2,525,2022-01-02,3.99,2,193,46,0363 607B EA74 0BD8 2F6F

In [31]:
len(dados['neighbourhood'].unique())

22

# Aplicando o Get Dummies

In [32]:
pd.get_dummies(dados.neighbourhood)

,Bijlmer-Centrum,Bijlmer-Oost,Bos en Lommer,Buitenveldert - Zuidas,Centrum-Oost,Centrum-West,De Aker - Nieuw Sloten,De Baarsjes - Oud-West,De Pijp - Rivierenbuurt,Gaasperdam - Driemond,...,Noord-Oost,Noord-West,Oostelijk Havengebied - Indische Buurt,Osdorp,Oud-Noord,Oud-Oost,Slotervaart,Watergraafsmeer,Westerpark,Zuid
0,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
1,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5592,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
5593,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
5594,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
5595,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
5596,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False

In [33]:
pd.get_dummies(dados)

,id,host_id,neighbourhood_group,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,...,license_WETH 3203 OP30 9le2 0E0F,license_WNJK 3468 QA87 87IO BHK9,license_XTRZ 3498 DGHT 6664 7654,license_Z211 8994 8800 0000 0000,license_Z211 9083 9100 0000 0000,license_Z211 9122 12xx xxxx xxxx,license_Z211 9368 23Z2 1193 6823,license_Z211 9657 1900 0000 0000,license_Z2119405290000000000,license_Z211954032U000000000
0,2818,3159,NaN,52.364350,4.943580,59,3,285,1.83,1,...,False,False,False,False,False,False,False,False,False,False
1,20168,59484,NaN,52.364070,4.893930,106,1,339,2.35,2,...,False,False,False,False,False,False,False,False,False,False
2,27886,97647,NaN,52.387610,4.891880,135,2,227,1.87,1,...,False,False,False,False,False,False,False,False,False,False
3,28871,124245,NaN,52.367750,4.890920,75,2,372,2.69,2,...,False,False,False,False,False,False,False,False,False,False
4,29051,124245,NaN,52.365840,4.891110,55,2,525,3.99,2,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5592,54115977,6370784,NaN,52.349325,4.849871,128,3,0,NaN,1,...,False,False,False,False,False,False,False,False,False,False
5593,54125298,21081740,NaN,52.365888,4.873004,100,10,0,NaN,1,...,False,False,False,False,False,False,False,False,False,False
5594,54126733,11632814,NaN,52.353757,4.905991,400,2,0,NaN,1,...,False,False,False,False,False,False,False,False,False,False
5595,54134640,418516420,NaN,52.341317,4.920622,60,5,0,NaN,1,...,False,False,False,False,False,False,False,False,False,False
5596,54136250,2933270,NaN,52.346552,4.962850,70,1,0,NaN,1,...,False,False,False,False,False,False,False,False,False,False

# Aplicando o Label Encoder

In [34]:
from sklearn.preprocessing import LabelEncoder

In [35]:
le = LabelEncoder()
le.fit_transform(dados['neighbourhood'])

array([14,  4,  5, ...,  8, 19, 19], shape=(5597,))

In [36]:
dados['nova_coluna'] = le.fit_transform(dados['neighbourhood'])

In [37]:
pd.DataFrame(dados.dtypes).reset_index()

                             index        0
0                               id    int64
1                             name   object
2                          host_id    int64
3                        host_name   object
4              neighbourhood_group  float64
5                    neighbourhood   object
6                         latitude  float64
7                        longitude  float64
8                        room_type   object
9                            price    int64
10                  minimum_nights    int64
11               number_of_reviews    int64
12                     last_review   object
13               reviews_per_month  float64
14  calculated_host_listings_count    int64
15                availability_365    int64
16           number_of_reviews_ltm    int64
17                         license   object
18                     nova_coluna    int64

In [38]:
colunas = pd.DataFrame(dados.dtypes).reset_index().rename(columns={'index': 'nome', 0: 'tipo'})
categ_cols = colunas[colunas.tipo == 'object']

In [39]:
for i in categ_cols.index:
    dados[str(categ_cols['nome'][i]) + '_encoded'] = le.fit_transform(dados[categ_cols['nome'][i]])
    dados = dados.drop(categ_cols['nome'][i], axis = 1)

In [40]:
dados

,id,host_id,neighbourhood_group,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,nova_coluna,name_encoded,host_name_encoded,neighbourhood_encoded,room_type_encoded,last_review_encoded,license_encoded
0,2818,3159,NaN,52.364350,4.943580,59,3,285,1.83,1,51,7,14,3979,444,14,2,806,1410
1,20168,59484,NaN,52.364070,4.893930,106,1,339,2.35,2,0,0,4,4703,52,4,2,468,3118
2,27886,97647,NaN,52.387610,4.891880,135,2,227,1.87,1,0,8,5,4112,718,5,2,821,2263
3,28871,124245,NaN,52.367750,4.890920,75,2,372,2.69,2,206,36,5,1464,556,5,2,827,1429
4,29051,124245,NaN,52.365840,4.891110,55,2,525,3.99,2,193,46,4,1485,556,4,2,848,1429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5592,54115977,6370784,NaN,52.349325,4.849871,128,3,0,NaN,1,6,0,21,4327,117,21,0,853,1297
5593,54125298,21081740,NaN,52.365888,4.873004,100,10,0,NaN,1,31,0,7,3193,2120,7,0,853,804
5594,54126733,11632814,NaN,52.353757,4.905991,400,2,0,NaN,1,363,0,8,3257,1139,8,0,853,1681
5595,54134640,418516420,NaN,52.341317,4.920622,60,5,0,NaN,1,285,0,19,1533,128,19,0,853,684
5596,54136250,2933270,NaN,52.346552,4.962850,70,1,0,NaN,1,43,0,19,704,2206,19,0,853,4444